<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 ">
               
                    <button type="button" class="btn btn-light"><</button>
                    <span>Juillet 2021</span>
                    <button type="button" class="btn btn-light">></button>
                
                
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-row-reverse bd-highlight">
                    <div class="p-2 bd-highlight">
                        <button type="button" class="btn btn-light">Partager</button>
                    </div>
                    <div class="p-2 bd-highlight">
                        <button type="button" class="btn btn-light">Paramètres</button>
                    </div>
                    <div class="p-2 bd-highlight">
                        <button type="button" class="btn btn-light">Historique</button>
                    </div>
                    <div class="p-2 bd-highlight">
                        <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
                    </div>
                  </div>
            </div>
        </div>
        
    </div>
  </div>